Repository Gongspot/Gongspot_Web, pull requests merged in 2025-07, with the labels that each got.

#27 feat: 프로필 관리 퍼블리싱
  src/App.tsx
  src/assets/camera.svg
  src/assets/fonts/Pretendard-Medium.woff
  src/assets/topBack.svg
  src/components/NextButton.tsx
  src/components/SIgnup/BasicInfo.tsx
  src/components/SIgnup/NextButton.tsx
  src/components/SIgnup/Nickname.tsx
  src/components/TopHeader.tsx
  src/components/myPage/ProfileSection.tsx
  src/components/notice/Search.tsx
  src/components/notice/TitleSection.tsx
  src/components/point/MyPointSection.tsx
  src/components/profile/ActionSheet.tsx
  src/components/profile/ActionSheetButton.tsx
  src/components/profile/Nickname.tsx
  src/components/profile/Profile.tsx
  src/index.css
  src/pages/MyPage.tsx
  src/pages/NoticeDetailPage.tsx
  src/pages/NoticePage.tsx
  src/pages/ProfilePage.tsx
Labels: 🎨 Html&css, ✨ Feature

#38 feat: 로그인 퍼블리싱
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/assets/symbol.svg
  src/assets/topBack.svg
  src/assets/whiteLogo.svg
  src/components/BottomNavBar.tsx
  src/components/SIgnup/Nickname.tsx
  src/components/TopHeader.tsx
  src/components/login/Background.tsx
  src/components/login/LoginMainView.tsx
  src/components/login/LoginSplashView.tsx
  src/components/profile/Nickname.tsx
  src/pages/LoginPage.tsx
  src/vite-env.d.ts
  svg.d.ts
  tsconfig.app.json
  vite.config.ts
Labels: 🎨 Html&css, ✨ Feature

#45 feat: 알림 설정 퍼블리싱
  src/App.tsx
  src/components/mapSearch/PlaceSelectSheet.tsx
  src/components/mapSearch/SearchResultSheet.tsx
  src/components/myPage/ToggleSwitch.tsx
  src/components/myPage/account/ActionSheet.tsx
  src/components/myPage/account/ConfirmButton.tsx
  src/components/myPage/account/ContentSection.tsx
  src/components/myPage/notice/ContentSection.tsx
  src/components/myPage/notice/NoticeSection.tsx
  src/components/myPage/notice/Search.tsx
  src/components/myPage/notice/TitleSection.tsx
  src/components/myPage/point/ChargeItem.tsx
  src/components/myPage/point/ChargeSection.tsx
  src/components/myPage/point/DetailItem.tsx
  src/components/myPage/point/DetailSection.tsx
  src/components/myPage/point/MainList.tsx
  src/components/myPage/point/MyPointSection.tsx
  src/components/myPage/point/PointCharge.tsx
  src/components/myPage/point/PointDetail.tsx
  src/components/myPage/point/TitleSection.tsx
  src/components/myPage/profile/ActionSheet.tsx
  src/components/myPage/profile/Nickname.tsx
  src/components/myPage/profile/Profile.tsx
  src/layouts/PointLayout.tsx
  src/pages/MyPage.tsx
  src/pages/NoticeDetailPage.tsx
  src/pages/NoticePage.tsx
  src/pages/PointPage.tsx
  src/pages/ProfilePage.tsx
  src/pages/PushPage.tsx
  src/pages/WithdrawalPage.tsx
Labels: 🎨 Html&css, ✨ Feature

#53 feat: 방문 공간 퍼블리싱
  src/App.tsx
  src/assets/fonts/Pretendard-SemiBold.woff
  src/assets/likes.svg
  src/index.css
  src/pages/VisitPage.tsx
Labels: 🎨 Html&css, ✨ Feature

#56 feat: 관리자 공지사항 작성 퍼블리싱
  package.json
  pnpm-lock.yaml
  public/fonts/Pretendard-Bold.woff
  public/fonts/Pretendard-Bold.woff2
  public/fonts/Pretendard-Medium.woff
  public/fonts/Pretendard-Medium.woff2
  public/fonts/Pretendard-Regular.woff
  public/fonts/Pretendard-Regular.woff2
  public/fonts/Pretendard-SemiBold.woff
  public/fonts/Pretendard-SemiBold.woff2
  src/App.tsx
  src/assets/cloud.svg
  src/assets/dropDown.svg
  src/assets/dropDownUp.svg
  src/components/AdminBottomNavBar.tsx
  src/components/admin/notice/DragDrop.tsx
  src/components/admin/notice/NoticeForm.tsx
  src/components/admin/notice/NoticeFormField.tsx
  src/components/myPage/MyPageItemSection.tsx
  src/index.css
  src/pages/HomePage.tsx
  src/pages/admin/AdminHomePage.tsx
  src/pages/admin/AdminNoticePage.tsx
  src/pages/admin/NewNoticePage.tsx
  src/pages/myPage/MyPage.tsx
  src/pages/myPage/NoticeDetailPage.tsx
  src/pages/myPage/NoticePage.tsx
  src/pages/myPage/PointPage.tsx
  src/pages/myPage/ProfilePage.tsx
  src/pages/myPage/ProposalPage.tsx
  src/pages/myPage/PushPage.tsx
  src/pages/myPage/VisitPage.tsx
  src/pages/myPage/WithdrawalPage.tsx
  tailwind.config.js
Labels: 🎨 Html&css, ✨ Feature

#58 feat: 공간 혼잡도 상세보기 퍼블리싱
  src/App.tsx
  src/assets/pencil_icon.svg
  src/assets/profile2.svg
  src/components/detail/SpaceDetailInfo.tsx
  src/components/homepage/SpaceCongestionCard.tsx
  src/components/review/LikeButton.tsx
  src/components/review/ReviewDatePicker.tsx
  src/components/review/ReviewPhotoInput.tsx
  src/components/review/ReviewTagSelector.tsx
  src/components/review/ReviewTimeDropdown.tsx
  src/components/review/ReviewTimeWheel.tsx
  src/components/review/ReviewTimeWheelPicker.tsx
  src/constants/dummyReviews.ts
  src/constants/dummySpaces.ts
  src/pages/spacedetail/SpaceCongestionDetailPage.tsx
  src/pages/spacedetail/SpaceDetailPage.tsx
  src/pages/spacedetail/SpaceReviewWritePage.tsx
Labels: 🎨 Html&css, 🔨 Refactor, ✨ Feature

#67 feat: 관리자 공지사항 상세내용 퍼블리싱
  src/App.tsx
  src/components/NextButton.tsx
  src/components/SIgnup/SelectButton.tsx
  src/components/admin/notice/Category.tsx
  src/components/admin/notice/TitleSection.tsx
  src/pages/admin/AdminNoticeDetailPage.tsx
  src/pages/myPage/NoticeDetailPage.tsx
Labels: 🎨 Html&css, ✨ Feature

#72 feat: 관리자 공지사항 목록 퍼블리싱
  src/App.tsx
  src/components/admin/notice/AdminNoticeSection.tsx
  src/components/admin/notice/CategorySelect.tsx
  src/components/mypage/notice/Search.tsx
  src/pages/admin/AdminNoticeAllPage.tsx
  src/pages/mypage/NoticePage.tsx
Labels: 🎨 Html&css, ✨ Feature

#74 feat: api 연결 초기 세팅
  src/apis/api.ts
  src/apis/auth.ts
  src/hooks/useKakaoAuth.ts
Labels: 📬 API, ⚙ Setting

#78 feat: 찜한 공간 퍼블리싱
  src/App.tsx
  src/assets/rating.svg
  src/components/BottomNavBar.tsx
  src/components/likes/FilterSelect.tsx
  src/components/likes/SpaceSection.tsx
  src/components/mypage/MyPageItemSection.tsx
  src/pages/FavoritesPage.tsx
  src/pages/LikesPage.tsx
Labels: 🎨 Html&css, ✨ Feature

#86 feat: 공지사항 API 연결
  src/App.tsx
  src/apis/mypage/notice.ts
  src/apis/mypage/point.ts
  src/components/mypage/notice/ContentSection.tsx
  src/components/mypage/notice/NoticeSection.tsx
  src/components/mypage/notice/TitleSection.tsx
  src/components/mypage/point/DetailSection.tsx
  src/layouts/PointLayout.tsx
  src/pages/mypage/NoticeDetailPage.tsx
  src/types/mypage.ts
Labels: 📬 API, ✨ Feature

#88 feat: 새 공간 등록 신청 api 연결
  src/apis/mypage/mypage.ts
  src/components/space/ProposalForm.tsx
  src/types/mypage.ts
Labels: 📬 API, ✨ Feature
