Repository Gongspot/Gongspot_Web, pull requests merged in 2025-08, with the labels that each got.

#91 feat: 홈 화면 api연결
  pnpm-lock.yaml
  public/vite.svg
  src/App.tsx
  src/apis/home.ts
  src/apis/places.ts
  src/apis/themes.ts
  src/assets/banner1.jpg
  src/assets/banner1.svg
  src/assets/banner2.jpg
  src/assets/banner2.svg
  src/assets/banner3.jpg
  src/assets/banner3.svg
  src/assets/logo.png
  src/assets/theme1.svg
  src/assets/theme2.svg
  src/assets/theme3.svg
  src/assets/theme4.svg
  src/assets/theme5.svg
  src/components/detail/LocationMap.tsx
  src/components/detail/OperatingHours.tsx
  src/components/detail/SpaceDetailInfo.tsx
  src/components/detail/SpaceDetailMap.tsx
  src/components/detail/SpaceDetailReview.tsx
  src/components/detail/SpaceDetailReviewStats.tsx
  src/components/homepage/BannerCarousel.tsx
  src/components/review/LikeButton.tsx
  src/components/review/ReviewDatePicker.tsx
  src/components/review/ReviewTagSelector.tsx
  src/components/review/ReviewTimeWheel.tsx
  src/components/space/HotSpaceListCard.tsx
  src/components/space/SpaceListCard.tsx
  src/constants/spaceThemes.ts
  src/hooks/useCongestions.ts
  src/hooks/useCurrentLocation.ts
  src/hooks/useHotPlaces.ts
  src/hooks/useLatestCongestions.ts
  src/hooks/useLikeSpace.ts
  src/hooks/usePlacesByCategory.ts
  src/hooks/usePostReview.ts
  src/hooks/useSpaceDetail.ts
  src/hooks/useSpaceReviews.ts
  src/pages/HomePage.tsx
  src/pages/HotSpaceListPage.tsx
  src/pages/ThemeDetailPage.tsx
  src/pages/spacedetail/AllReviewsPage.tsx
  src/pages/spacedetail/SpaceCongestionDetailPage.tsx
  src/pages/spacedetail/SpaceDetailPage.tsx
  src/pages/spacedetail/SpaceReviewWritePage.tsx
  src/types/review.types.ts
  src/types/space.ts
  src/utils/kakaoMapLoader.ts
  src/utils/location.ts
Labels: 📬 API, 🎨 Html&css

#97 feat: 방문 공간 API 연결
  src/apis/axios.ts
  src/apis/mypage/mypage.ts
  src/components/login/OauthKakaoCallback.tsx
  src/components/mypage/visit/VisitSpaceCard.tsx
  src/pages/mypage/VisitPage.tsx
  src/types/mypage.ts
Labels: 📬 API, ✨ Feature

#99 feat: 찜한 공간 API 연결
  src/apis/likes.ts
  src/components/likes/SpaceSection.tsx
  src/pages/LikesPage.tsx
  src/types/space.ts
Labels: 📬 API, ✨ Feature

#103 feat: 공지사항 등록 API 연결
  src/App.tsx
  src/apis/admin.ts
  src/components/admin/notice/AdminNoticeSection.tsx
  src/components/admin/notice/DragDrop.tsx
  src/components/admin/notice/TitleSection.tsx
  src/components/mypage/notice/TitleSection.tsx
  src/pages/admin/AdminNoticeAllPage.tsx
  src/pages/admin/AdminNoticeDetailPage.tsx
  src/pages/admin/NewNoticePage.tsx
  src/types/admin.ts
Labels: 📬 API, ✨ Feature

#117 feat: 배너 상세조회 API 연결
  src/App.tsx
  src/apis/mypage/notice.ts
  src/components/BottomNavBar.tsx
  src/components/admin/notice/AdminNoticeSection.tsx
  src/components/homepage/BannerCarousel.tsx
  src/components/mypage/notice/AttachmentSection.tsx
  src/pages/admin/AdminBannerDetailPage.tsx
  src/pages/mypage/BannerDetailPage.tsx
  src/types/mypage.ts
Labels: 📬 API, ✨ Feature

#140 fix: 관리자 계정 인증
  src/pages/HomePage.tsx
Labels: :bug: BugFix

#143 feat: 선호 공부장소 API 연결
  src/apis/auth.ts
  src/apis/home.ts
  src/components/login/OauthKakaoCallback.tsx
  src/components/mypage/ProfileSection.tsx
  src/components/signup/BasicInfo.tsx
  src/components/signup/BasicInfoSection.tsx
  src/components/signup/Nickname.tsx
  src/constants/basicInfoConfig.ts
  src/pages/SignupPage.tsx
  src/types/home.ts
Labels: 📬 API, ✨ Feature
